

.fb-login-btn{
    background-color: #3B5998;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 10px 10px 55px;
    font-size: 24px;
    display: inline-block;
    border-radius: 5px;
    background-image: inline-image('../images/authentication/fb-login.png');
    background-position: 4px center;
    background-repeat: no-repeat;
    cursor: pointer;
    
}