* {
    @include box-sizing(border-box);
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
}

.left {
    float: left;
}
.right {
    float: right;
}

.hidden {
    display: none!important;
}

.soc-login-btn{
    &:before{
        content: "";
        width: 21px;
        height: 21px;
        background-image: inline-image('../images/authentication/social-auth-icon.png');
        background-repeat: no-repeat;
        position: absolute;
        top: 5px;
        left: 5px;
    }
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;  
    padding: 5px 5px 5px 30px;  
    position: relative;
    margin: 2px;
    text-align: center;
    min-width: 180px;
}
.fb-login-btn{
    background-color: #3B5998;
    color: #FFFFFF;
    text-align: center;
    &:before {
        background-position: -24px 0px;
    }
}

.vk-login-btn{
    background-color: #6085AE;
    color: #FFFFFF;
    text-align: center;
    &:before {
        background-position: 0px 0px;
    }
}

