$headerHeight: 47px;

$footerHeight: 40px;

$baseTextColor: #FFFFFF;

$baseBgColor: rgba(0, 0, 0, 0.35);
$secondBgColor: rgba(0, 0, 0, 0.5);

//$headerBgColor: rgba(120,120,120,0.5);
$headerBgColor: rgba(50, 50, 50, 0.5);