@import 'compass';
@import 'constants';

@import 'material/variables';
@import 'material/mixins';
@import 'material/typography';
@import 'material/structure';
@import 'material/layout/layout-attributes';
@import 'material/layout';
@import 'material/layout/layout';
//@import 'material/layout/ie_fixes';

@import 'base';

.tr-loading-app {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 60px;
    margin-left: -90px;
    margin-top: -30px;
    align-items: center;
    line-height: 60px;
}

//@import 'site/profile';
.tr-body-page {
    transition: opacity .3s linear;
    background-color: rgba(0,0,0,.0588);
}
.tr-card-fill {
    box-sizing: border-box;
    margin: 0;
    min-height: 100%;
    height: 100%;
}
.md-block {
    display: block;
    box-sizing: border-box;
    padding-bottom: 10px;
}
.tr-input-alert {
    font-size: 10px;
    position: absolute;
    top: 23px;
    left: 0px;
}
.tr-input-alert-danger {
    color: red;
}

.tr-user-avatar {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: -25px;
    background-position: center center;
    background-color: red;
}
.user-actions {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
    background-color: rgba(200,200,200,0.3);
    .one-action {
        cursor: pointer;
        &:hover {
            background-color: rgba(200,200,200,0.3);
        }
    }
    .action-data {
        vertical-align: super;
    }
}
user-data-profile {
    background-color: rgba(100,100,100,0.2);
    display: block;

    .avatar-container {
        text-align: right;
    }
}

/*.page {
    //background-image: url("/icons/bg.jpg");
    background-color: $bgColor;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    padding: 0px;
    margin: 0px;
    width: 100%;
    color: $baseTextColor;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}*/