@import 'compass';
@import 'constants';

@import 'material/variables';
@import 'material/mixins';
@import 'material/typography';
@import 'material/structure';
@import 'material/layout/layout-attributes';
@import 'material/layout';
@import 'material/layout/layout';
@import 'material/layout/ie_fixes.css';

@import 'base';

//@import 'site/profile';

/*.page {
    //background-image: url("/icons/bg.jpg");
    background-color: $bgColor;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    padding: 0px;
    margin: 0px;
    width: 100%;
    color: $baseTextColor;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}*/