@import 'compass';
@import 'constants';
@import 'angular-material';
@import 'base';

@import 'site/profile';

@import 'components/map';
html {
    height: 100%;
}
.page {
    //background-image: url("/icons/bg.jpg");
    background-color: $bgColor;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    padding: 0px;
    margin: 0px;
    width: 100%;
    color: $baseTextColor;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}