<section class="row">
    <div class="col-md-2 col-sm-2"></div>
    <div class="col-md-8 col-sm-8">
        <div class="profile-info">
            <div class="profile-avatar">
                <i class="profile-avatar-img" style=""></i>
            </div>
            <div class="profile-data">
                <label>{{user.firstname}} {{user.surname}}</label>
                <ul>
                    <li>Age: {{getAge()}}</li>
                    <li>{{getLocation()}}</li>
                </ul>
                <a href="#/user/edit">Edit</a>
            </div>
        </div>
        <ul>
            <li>
                <span user-trance-company></span>
            </li>
            <li>
                <a href="#/user/settings" class="btn">Settings</a>
            </li>
        </ul>

        

        <div freights-history></div>

        <div user-cars></div>

    </div>
    <div class="col-md-2 col-sm-2"></div>
</section>