
$headerBgColor: $baseBgColor;
//$headerBgSecongColor: lighten($baseBgColor, 20%);

$headerPadding: 3px;
.header {
    padding: $headerPadding $headerPadding * 3;
    height: $headerHeight;
    @include box-sizing(border-box);
    //@include background-image(linear-gradient(to bottom, $headerBgSecongColor 0%,$headerBgColor 90%,$headerBgSecongColor 97%,$headerBgSecongColor 100%));
    background-color: $headerBgColor;
    border-bottom: 1px solid #FFFFFF;
    
    display: table;
    width: 100%;
}
.header {
    .avatar {
        height: $headerHeight - $headerPadding * 2;
        width: $headerHeight - $headerPadding * 2;
        border-radius: $headerHeight / 2;
        background-color: rgba(255, 255, 255, 0.7);
        display: table-cell;
    }
    .user-name {
        @include box-sizing(border-box);
        font-size: 2em;
        display: table-cell;
        vertical-align: middle;
        padding: 0px 15px;
    }
    .settings {
        display: table-cell;
        position: relative;
        width: $headerHeight - $headerPadding * 2;
        background-color: red;
        &:hover .setting-panel {
            display: block;
        }
    }
    .setting-panel{
        display: none;
        position: absolute;
        background-color: rgba(200,200,200,0.6);
        border-radius: 3px;
        bottom: -10px;
        right: 0px;
        padding: 5px;
        min-width: 120px;
    }
    .list-item {
        padding: 3px;
        border-radius: 2px;
        &:hover {
            background-color: rgba(200,200,200,0.6);
        }
    }
    .list-item-link {
        display: block;
    }
    
}