

//$headerBgSecongColor: lighten($baseBgColor, 20%);
$settingsSize: 30px;

.header {
    height: $headerHeight;
    background-color: $headerBgColor;
    display: table;
    width: 100%;
    padding: 0px 10px;
    
    -webkit-box-shadow: inset 0px -1px 2px 0px rgba(0,0,0,0.4);
-moz-box-shadow: inset 0px -1px 2px 0px rgba(0,0,0,0.4);
box-shadow: inset 0px -1px 2px 0px rgba(0,0,0,0.4);

    //@include box-shadow(border-box);
}
.header {
    .header-content {
        display: table-cell;
        vertical-align: middle;
        padding-left: $headerHeight;
    }
    .header-menu {
        display: table-cell;
        width: $headerHeight;
        padding: ($headerHeight - $settingsSize) / 2;
    }

    .header-title {
        text-transform: uppercase;
    }
    .header-link {
        text-decoration: none;
    }

    .settings {
        position: relative;
        width: $settingsSize;
        height: $settingsSize;
        background-color: $headerBgColor;
        border-radius: 3px;

        &:before {
            content: "";
            position: absolute;
            left: $settingsSize / 6;
            right: $settingsSize / 6;
            top: $settingsSize / 6;
            height: $settingsSize / 6;
            border-top: 3px solid rgba(255, 255, 255, 0.8);
            border-bottom: 3px solid rgba(255, 255, 255, 0.8);
        }
        &:after{
            content: "";
            position: absolute;
            left: $settingsSize / 6;
            right: $settingsSize / 6;
            bottom: $settingsSize / 6;
            height: 1;
            border-bottom: 3px solid rgba(255, 255, 255, 0.8);
        }

        
    }

    .settings-menu {

    }
    
    .setting-panel{
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        z-index: 2;
        background-color: rgba(160,160,160,0.9);
        min-width: 300px;
        padding: 17px;
        //widows: 50%;
    }
    .menu-items {

    }
    .list-item {
        padding: 5px;
        border-radius: 2px;
        &:hover {
            background-color: rgba(200,200,200,0.6);
        }
    }
    .list-item-link {
        display: block;
        padding: 5px;
        text-decoration: none;
    }
    
}