.navigation{
    width: 270px;
    bottom: 0;
    float: right !important;
    right: -270px;
    top: $headerHeight;
    
    background-color: $secondBgColor;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
    display: block;
    overflow-y: auto;
    position: fixed;
    transition: all 200ms ease-out 0s;
    z-index: 99;
}
.navigation {
    &.enable {
        right: 0px;
    }
    
}