.side-bar{
    box-sizing: border-box;
    width: 240px;
    background-color: $baseBgColor;
    
    top: $headerHeight;
    bottom: $footerHeight;
    //height: 100%;
    //margin-bottom: -70px;
    //padding-bottom: 146px;
    position: fixed;
    z-index: 2;
    //padding-bottom: 40px;
    //margin-bottom: $footerHeight;
}