<div class="panel">
    <div class="panel-header">
        <span class="panel-btn" title="Show user cars" (click)="actionShowList()">v</span>
        <a href="#/car/create" class="panel-btn" title="Create">+</a>
        <a href="#/cars"  class="panel-btn" title="List">=</a>
        <h3 class="title">My cars</h3>
    </div>
    <div class="panel-content">
        <ul>
            <li *ngFor="#item of model">
                {{item.name}}
                <a href="#/freight/{{item.id}}/edit" title="Edit" class="right">Edit</a>
            </li>
        </ul>
    </div>
</div>