<section class="row">
    <div class="col-md-4 col-sm-3"></div>
    <div class="col-md-4 col-sm-6">
        <div class="form">
            <form action="" method="post" (ngSubmit)="onSubmit(inputLogin, inputPassword)">
                <div class="form-group">
                    <label for="field_login">Email</label>
                    <input type="text" class="form-control" required id="field_login" #inputLogin>
                </div>
                <div class="form-group">
                    <label for="field_pass">Password</label>
                    <input type="password" class="form-control" required id="field_pass" #inputPassword>
                </div>
                <div class="form-group">
                    <div class="alert alert-danger" [style.display]="errorMessage?'block':'none'" role="alert">{{errorMessage}}</div>
                    <input type="submit" value="Login" class="btn btn-align btn-default">
                </div>
                <div class="form-group center">
                    <a [routerLink]="['Restore']" class="link">Forgot password</a>
                </div>
            </form>
            <div class="form-group hidden">
                <div class="soc-login-btn fb-login-btn">Log in with Facebook</div>
                <div class="soc-login-btn vk-login-btn">Log in with VK</div>
            </div>
            <div class="form-group group-margin">
                <a [routerLink]="['Register']" class="btn btn-align btn-default">Create user</a>
            </div>
            <hr/>
            <div class="form-group center">
                <a [routerLink]="['ChangeLanguage']" class="link">English</a> |
                <a [routerLink]="['ChangeLanguage']" class="link">Українська</a> |
                <a [routerLink]="['ChangeLanguage']" class="link">all languages...</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-3"></div>
</section>