<div class="layout-row">
    <div class="flex-20">
        <form>
            <div>
                <md-input-container>
                    <input md-input placeholder="Login" value="" #inputLogin>
                </md-input-container>
            </div>
            <div>
                <md-input-container>
                    <input md-input type="password" placeholder="Password" value="" #inputPassword>
                </md-input-container>
            </div>

            <button md-button type="submit" (click)="onSubmit(inputLogin, inputPassword)">Login</button>
        </form>
    </div>
    <div class="flex-80">

    </div>
</div>