<header anonymous></header>
<section class="inset">
    <md-card class="layout-gt-sm-row layout-sm-row layout-xs-column">
        <div class="flex-gt-sm-auto flex-sm-auto flex-xs-sm-100"></div>
        <form class="flex-gt-sm-40 flex-sm-40 flex-xs-sm-100">
            <div class="md-block">
                <md-input-container class="with-fill">
                    <input type="text" md-input placeholder="Login" required name="login" id="field_login" [(ngModel)]="model.login">
                </md-input-container>
            </div>
            <div class="md-block">
                <md-input-container class="with-fill">
                    <input type="text" md-input placeholder="First name" required name="firstName" id="field_firstname" [(ngModel)]="model.firstName">
                </md-input-container>
            </div>
            <div class="md-block">
                <md-input-container class="with-fill">
                    <input type="text" md-input required placeholder="Second name" name="secondName" id="field_firstname" [(ngModel)]="model.secondName">
                </md-input-container>
            </div>
            <div class="md-block">
                <md-input-container class="with-fill">
                    <input type="email" md-input autocomplete="off" placeholder="Email" required name="email" id="field_email" [(ngModel)]="model.email">
                </md-input-container>
            </div>
            <div class="md-block">
                <md-input-container class="with-fill">
                    <input type="password" md-input placeholder="Password" required name="password" id="field_pass" [(ngModel)]="model.password">
                </md-input-container>
            </div>
            <div class="md-block">
                <md-input-container class="with-fill">
                    <input type="password" md-input required placeholder="Password confirm" name="passwordConfirm" id="field_pass_confirm" [(ngModel)]="model.passwordConfirm">
                </md-input-container>
            </div>
            <div class="layout-row">
                <div class="flex-auto inset">
                    <a [routerLink]="['/login']" class="with-fill" md-button>Back</a>
                </div>
                <div class="flex-auto inset">
                    <button md-raised-button  class="with-fill" type="submit" (click)="onSubmit()">Sign Up</button>
                </div>
            </div>
        </form>
        <div class="flex-gt-sm-auto flex-sm-auto flex-xs-sm-100"></div>
    </md-card>
</section>