<header anonymous></header>
<section class="inset">
    <md-card class="layout-gt-sm-row layout-sm-row layout-xs-column">
        <div class="flex-gt-sm-auto flex-sm-auto flex-xs-sm-100"></div>
        <div class="flex-gt-sm-40 flex-sm-60 flex-xs-sm-100">
            <h1>Registration confirmation</h1>
            <div>
                <span>{{confirmationKey}}</span>
            </div>
            <div class="layout-row">
                <div class="flex-auto inset">
                    <a [routerLink]="['/login']" class="with-fill" md-button>Back</a>
                </div>
                <div class="flex-auto inset">
                    <button md-raised-button  class="with-fill" type="submit" (click)="onSubmit()">Confirm</button>
                </div>
            </div>
        </div>
        <div class="flex-gt-sm-auto flex-sm-auto flex-xs-sm-100"></div>
    </md-card>
</section>