<section class="layout-row">
    <div class="flex-auto">
        <div class="inset">
            <form action="" class="form" method="post" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <md-input-container class="md-block">
                        <input type="text" md-input placeholder="Login" required name="login" id="field_login" [(ngModel)]="model.login">
                    </md-input-container>
                </div>
                <div class="form-group">
                    <md-input-container class="md-block">
                        <input type="text" md-input placeholder="First name" required name="firstName" id="field_firstname" [(ngModel)]="model.firstName">
                    </md-input-container>
                </div>
                <div class="form-group">
                    <md-input-container class="md-block">
                        <input type="text" md-input required placeholder="Second name" name="secondName" id="field_firstname" [(ngModel)]="model.secondName">
                    </md-input-container>
                </div>
                <div class="form-group">
                    <md-input-container class="md-block">
                        <input type="email" md-input autocomplete="off" placeholder="Email" required name="email" id="field_email" [(ngModel)]="model.email">
                    </md-input-container>
                </div>
                <div class="form-group">
                    <md-input-container class="md-block">
                        <input type="password" md-input placeholder="Password" required name="password" id="field_pass" [(ngModel)]="model.password">
                    </md-input-container>
                </div>
                <div class="form-group">
                    <md-input-container class="md-block">
                        <input type="password" md-input required placeholder="Password confirm" name="passwordConfirm" id="field_pass_confirm" [(ngModel)]="model.passwordConfirm">
                    </md-input-container>
                </div>
                <div class="layout-row">
                    <div class="flex-auto">
                        <a [routerLink]="['/login']" class="md-raised md-button md-ink-ripple">Back</a>
                    </div>
                    <div class="flex-auto">
                        <input type="submit" value="Sign Up" class="md-raised md-primary md-button md-ink-ripple">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>