<section class="row">
    <div class="col-md-4 col-sm-3"></div>
    <div class="col-md-4 col-sm-6">
        <div class="form" [ngClass]="{'hidden':resetCompleted}">
            <form action="" method="post" (ngSubmit)="onSubmit(inputPassword, inputPasswordConfirm)">
                <div class="form-group">
                    <label for="name">Password</label>
                    <input type="text" class="form-control" required name="email" #inputPassword>
                </div>
                <div class="form-group">
                    <label for="name">Password confirm</label>
                    <input type="text" class="form-control" required name="email" #inputPasswordConfirm>
                </div>
                <div class="form-group">
                    <div class="alert alert-danger" [style.display]="errorMessage?'block':'none'" role="alert">{{errorMessage}}</div>
                </div>
                <input type="submit" class="btn" value="Change password">
                <a [routerLink]="['Login']" class="btn btn-md btn-default">Back</a>
            </form>
        </div>
        <div class="form" [ngClass]="{'hidden':!resetCompleted}">
            Password changed
        </div>
    </div>
    <div class="col-md-4 col-sm-3"></div>
</section>