<header anonymous></header>
<section class="inset">
    <md-card class="layout-gt-sm-row layout-sm-row layout-xs-column">
        <div class="flex-gt-sm-auto flex-sm-auto flex-xs-sm-100"></div>
        <div class="flex-gt-sm-60 flex-sm-60 flex-xs-sm-100">
            <div [ngClass]="{'hidden':restoreCompleted}">
                <form (ngSubmit)="onSubmit(inputEmail)">
                    <div>
                        <md-input-container class="with-fill">
                            <input md-input type="email"  placeholder="{{ 'restore.restorePanel.email' | translate:lang }}" required minlength="5" maxlength="64" value="" #inputEmail>
                        </md-input-container>
                    </div>
                    <div class="layout-row">
                        <div class="flex-auto inset">
                            <a [routerLink]="['/login']" class="with-fill" md-button>{{ 'restore.restorePanel.back' | translate:lang }}</a>
                        </div>
                        <div class="flex-auto inset">
                            <button md-raised-button class="with-fill" type="submit">{{ 'restore.restorePanel.submit' | translate:lang }}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="form" [ngClass]="{'hidden':!restoreCompleted}">
                <div class="inset">{{ 'restore.restorePanel.confirmationMessage' | translate:lang }}</div>
                <div>
                    <a [routerLink]="['/login']" class="with-fill" md-raised-button>{{ 'restore.restorePanel.moveToLogin' | translate:lang }}</a>
                </div>
            </div>
        </div>
        <div class="flex-gt-sm-auto flex-sm-auto flex-xs-sm-100"></div>
    </md-card>
</section>