<header anonymous></header>
<section class="layout-row">
    <div class="flex-auto">
        <div class="inset">
            <div class="form" [ngClass]="{'hidden':restoreCompleted}">
                <form action="" method="post" (ngSubmit)="onSubmit(inputEmail)">
                    <md-input-container class="md-block">
                        <input type="text" md-input placeholder="Email" required name="email" #inputEmail>
                    </md-input-container>
                    <div>
                        <input type="submit" class="md-raised md-primary md-button md-ink-ripple" value="Restore">
                        <a [routerLink]="['/login']" class="md-raised md-button md-ink-ripple">Back</a>
                    </div>
                </form>
            </div>
            <div class="form" [ngClass]="{'hidden':!restoreCompleted}">
                Please check your email
                <div>
                    <a [routerLink]="['/login']" class="md-raised md-primary md-button md-ink-ripple">Back</a>
                </div>
            </div>
        </div>
    </div>
</section>