
$mapHeight: 350px;
$mapNav: 43px;

.map {
    /*@include box-sizing(border-box);
    background-color: $baseBgColor;
    padding: 5px;
    border-radius: 2px;*/
    height: $mapHeight;
}
.map {
    .map-content {
        width: 100%;
        height: 100%;
        
        @include box-sizing(border-box);
        background-color: $baseBgColor;
        padding: 5px;
        border-radius: 2px;
    }
    .map-view {
        height: calc(100% - #{$mapNav});
        background-color: #FFFFFF;
    }
    .map-nav {
        @include box-sizing(border-box);
        padding-top: 5px;
    }
    .list-actions {
        display: table;
        list-style: none;
        margin: 0px;
        padding: 0px;
        height: $mapNav;
        width: 100%;
    }
    .action-item {
        @include box-sizing(border-box);
        display: table-cell;
        text-align: center;
        padding-left: 1px;
        padding-right: 1px;
    }
    
    
    .range-panel {
        @include box-sizing(border-box);
        position: absolute;
        bottom: 34px;
        left: -1px;
        border: 1px solid rgba(255, 255, 255, 0.8);
        background-color:  rgba(0,0,0,0.5);
        @include user-select(none);
        @include border-radius(2px);
        
        width: 300px;
        padding: 20px 15px;
        
        display: none;
    }
    
    .range-setting {
        .range-open {
            display: none;
            &:checked + .range-panel {
                display: block;
            }
        }
    }
    
    .btn-fullscreen:before{
        background-image: inline-image('../images/full-screen.png');
    }
    
}
