<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" sizes="128x128" type="image/x-icon" href="/icons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="128x128" href="/icons/apple-touch-icon-128x128.png" />
    <meta name="msapplication-TileColor" content="#4466ae" />
    <meta name="msapplication-TileImage" content="/icons/apple-touch-icon-128x128.png" />

    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="canonical" href="http://localhost:3000/" />
    <!--STYLES-->
    <!--LN-->
</head>

<body class="tr-body-page">
    <div app-trucker>
        <md-toolbar class="tr-loading-app" >
            Loading...
        </md-toolbar>
    </div>

    <script src="/js-libs/core-js/client/shim.min.js"></script>
    <script src="/js-libs/zone-js/dist/zone.js"></script>
    <script src="/js-libs/systemjs/dist/system.src.js"></script>

    <script src="/js/systemjs.config.js"></script>
    <script>System.import('app').catch(function(err){ console.error(err); });</script>
    <script1 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6LWAt8hsoCtgK3efbbtnCG81uKBvuCpc&callback=app.initMap" async defer></script1>
</body>

</html>