<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--STYLES-->
    <!--LN-->
</head>

<body>
    <section id="page" class="container">
        <app-trucker-route>Loading...</app-trucker-route>
    </section>
    
    <footer>Trucker@</footer>

    <!--JSLIBS-->
    <!--JSAPP-->

    <script>
        (function (app) {
            document.addEventListener('DOMContentLoaded', function () {
                ng.platform.browser.bootstrap(app.TruckersApplication, [
                    ng.router.ROUTER_PROVIDERS,
                    ng.core.provide(ng.router.LocationStrategy, {useClass: ng.router.HashLocationStrategy}),
                    ng.core.provide(ng.router.APP_BASE_HREF, {useValue: '/'}),
                    ng.http.HTTP_PROVIDERS
                    ]);
            });
        })(window.app || (window.app = {}));
    </script>
</body>

</html>